<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">

    <select (change)=onChange() [formControl] = "bookingForm.controls['roomControl']">
      <option [ngValue]="room" *ngFor="let room of rooms"> {{room.name}}</option>
    </select> <br>



    <div class="form-row mb-4">
        <div class="col">
            Nome :
            <input type="text" class="form-control" onfocus="this.value=''" name="nome" [formControl] = "bookingForm.controls['nameControl']">
            <div *ngIf="!bookingForm.controls['nome'].valid" class="alert alert-danger">"nome" non è valido</div>
            <div *ngIf="bookingForm.controls['nome'].hasError('required')" class="alert alert-danger">"nome" è richiesto</div>
        </div>
    </div>


    <div class="form-row mb-4">
        <div class="col">
            cogome :
            <input type="text" class="form-control" onfocus="this.value=''" name="cognome" [formControl] = "bookingForm.controls['cognameControl']">
            <div *ngIf="!bookingForm.controls['cognome'].valid" class="alert alert-danger">"cognome" non è valido</div>
            <div *ngIf="bookingForm.controls['cognome'].hasError('required')" class="alert alert-danger">"cognome" è richiesto</div>
        </div>
    </div>




      <div class="col">
            da :
            <input type="date" class="form-control" onfocus="this.value=''" name="nome" [formControl] = "bookingForm.controls['nameControl']">
            <div *ngIf="!bookingForm.controls['nome'].valid" class="alert alert-danger">"nome" non è valido</div>
            <div *ngIf="bookingForm.controls['nome'].hasError('required')" class="alert alert-danger">"nome" è richiesto</div>
        </div>

    a: <input type = "date" [formControl] = "bookingForm.controls['toControl']"> <br>
    email: <input [formControl] = "bookingForm.controls['emailControl']"> <br>
    colore lenzuola: <input [formControl] = "bookingForm.controls['cLenzuolaControl']"> <br>
    <button> Prenota </button>

  </form>


  {{selectedRoom | json}}

 <ul>
   <li *ngFor="let pren of bookingList">
    {{pren.room.name}} : {{pren | json}}
   </li>
 </ul>
